#firstscreen {
    display: block;
}

#merchant {
    display: none;
}

#customer {
    display: none;
}

#loginscreen {
    display: none;
}
 
#mainscreen {
    display: none;
}

#popupcc {
    display: none;
}

#result {
    display: none;
}
