#firstscreen {
    display: block;
}

#merchant {
    display: none;
}

#customer {
    display: none;
}

#loginscreenM {
    display: none;
}

#loginscreen {
    display: none;
}
 
#mainscreenC {
    display: none;
}

#mainscreenM {
    display: none;
}

#popupcc {
    display: none;
}

#result {
    display: none;
}
